.contact-container{
    width: 100%;
    background-image: linear-gradient(0deg, rgba(4, 31, 29, 0.808), rgba(10, 26, 27, 0.726)), url('../../images/appointmentBg.png')   ;
}
.submitBtn{
    background: linear-gradient(0deg, rgba(59, 231, 208, 0.692), rgba(9, 233, 203, 0.822));
    border: none;
}